[submodule "extern/cv"]
	path = extern/cv
	url = https://github.com/Xfennec/cv
[submodule "extern/whatmp3"]
	path = extern/whatmp3
	url = https://github.com/RecursiveForest/whatmp3
[submodule "extern/dinu"]
	path = extern/dinu
	url = https://github.com/weltensturm/dinu
